---
import Work1 from '../assets/work-1.png'
import Work2 from '../assets/work-2.png'
import Work3 from '../assets/work-3.png'
import Work4 from '../assets/work-4.png'
import Work5 from '../assets/work-5.png'
import Work6 from '../assets/work-6.png'
---

<section>
    <h2 class="heading-1">Take a look at these digital gems and <span class="green">discover</span> how I turn <span class="pink">ideas</span> into <span class="violet">realities.</span></h2>
    <ul class="projects">
        <li class="card">
            <a href="https://company-web-maazportfolio.vercel.app/" target="_blank">
                <figure class="card-picture">
                    <img src={Work1.src} alt="Anything project">
                </figure>
            </a>
            <h3 class="heading-3"><a href="#">Company Web</a></h3>
            <ul class="card-skills">
                <li class="card-tag">Next.js</li>
                <li class="card-tag">Tailwind CSS</li>
                <li class="card-tag">JavaScript</li>
                <li class="card-tag">Slack</li>
            </ul>
        </li>
        <li class="card">
            <a href="https://crypto-exchange-maazportfolio.vercel.app" target="_blank">
                <figure class="card-picture">
                    <img src={Work2.src} alt="Anything project">
                </figure>
            </a>
            <h3 class="heading-3"><a href="#">Crypto Exchange</a></h3>
            <ul class="card-skills">
                <li class="card-tag">Next.js</li>
                <li class="card-tag">Tailwind CSS</li>
                <li class="card-tag">TypeScript</li>
                <li class="card-tag">MongoDB</li>
            </ul>
        </li>
        <li class="card">
            <a href="https://travel-agency-maazportfolio.vercel.app" target="_blank">
                <figure class="card-picture">
                    <img src={Work3.src} alt="Anything project">
                </figure>
            </a>
            <h3 class="heading-3"><a href="#">Travel Agency</a></h3>
            <ul class="card-skills">
                <li class="card-tag">HTML</li>
                <li class="card-tag">CSS</li>
                <li class="card-tag">JavaScript</li>
            </ul>
        </li>
        <li class="card">
            <a href="https://business-proposal-writing-maazportfolio.vercel.app" target="_blank">
                <figure class="card-picture">
                    <img src={Work4.src} alt="Anything project">
                </figure>
            </a>
            <h3 class="heading-3"><a href="#">Business Proposal Writing</a></h3>
            <ul class="card-skills">
                <li class="card-tag">Next.js</li>
                <li class="card-tag">Tailwind CSS</li>
                <li class="card-tag">TypeScript</li>
                <li class="card-tag">Figma</li>
            </ul>
        </li>
        <li class="card">
            <a href="https://carplanet-showroom-maazportfolio.vercel.app" target="_blank">
                <figure class="card-picture">
                    <img src={Work5.src} alt="Anything project">
                </figure>
            </a>
            <h3 class="heading-3"><a href="#">Car Showroom</a></h3>
            <ul class="card-skills">
                <li class="card-tag">Next.js</li>
                <li class="card-tag">Tailwind CSS</li>
                <li class="card-tag">TypeScript</li>
                <li class="card-tag">Figma</li>
            </ul>
        </li>
        <li class="card">
            <a href="https://muhammadmaazportfolio.vercel.app" target="_blank">
                <figure class="card-picture">
                    <img src={Work6.src} alt="Anything project">
                </figure>
            </a>
            <h3 class="heading-3"><a href="#">3D Portfolio</a></h3>
            <ul class="card-skills">
                <li class="card-tag">Three.js</li>
                <li class="card-tag">Tailwind CSS</li>
                <li class="card-tag">TypeScript</li>
            </ul>
        </li>
    </ul>
</section>